.profilePic{
    border-radius: 50%;
    width: 150px;
    padding-left: 15px;
    padding-top: 15px;
}

.list{
    margin-right: 16px;
}

ion-col{
    padding-left: 0px;
}

.info{
    padding-top: 35px;
}

.profilebutton {
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    left: 59%;
    top: 75%;
    height: 30px;
    width: 30px;
    padding-top: 5px;
    text-align: center;
    background-color:rgb(240, 176, 57) ;
    
}

#myFileInput{
    position: absolute;
    opacity: 0;
  }