<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="img-editP">
      <img class="img-profile" [src]="imgSrc">
      <ion-buttons class="btn-upload" for="fileUp">
        <ion-icon name="cloud-upload"></ion-icon> 
      </ion-buttons>
      <ion-input type="file" accept="image/*" (change)="changeListener($event)" ngModel name="foto" class="fileUp"></ion-input>     

    </div>
    <div class="text-editP">
      
      <ion-item>
        <ion-label class="text-label" position="floating">Full Name</ion-label>
        <ion-input class="text-input" type="text" ngModel name="fullname" value="{{users?.fullname}}"></ion-input>
      </ion-item>
       <ion-item> 
         <ion-label class="text-label" position="floating">Email</ion-label>
        <ion-input class="text-input" type="text" ngModel name="email" value="{{users?.email}}"></ion-input>
       </ion-item> 
      <!-- <ion-input class="text-input" type="text" ngModel name="email" hidden value="users?.email"></ion-input> -->
      <!-- <ion-input class="text-input" type="text" ngModel name="key" hidden value="users?.key"></ion-input> -->
    </div>
    <div class="btn-editP">
      <ion-button slot="end" type ="submit" class="btn-submit">Save</ion-button>
    </div>
  </form>
</ion-content> 



  <!-- <ion-list>
    <ion-item>{{users?.fullname}}</ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Edit Fullname" [(ngModel)]="Newname"></ion-input>
      <div class="item-FName" item-end>
        <ion-button (click)="editFName()"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      </div>
    </ion-item>
  </ion-list> -->
 

  <!-- <ion-row *ngIf="userNow !== false">
    
    <ion-col size="4">
      <img class="profilePic" src="https://trello-attachments.s3.amazonaws.com/5fb13d4b640c331c814bacf7/497x497/a3610438aebed3f3961fab5394f08699/IU2.jpg"/>
    </ion-col>

    <ion-col size="8">
      <ion-label>
        <ion-input type="text" placeholder={{users?.fullname}} [(ngModel)]="Newname"></ion-input>
          <div class="item-FName" item-end>
            <ion-button (click)="editFName()"><ion-icon name="pencil-outline"></ion-icon></ion-button>
          </div>
      </ion-label>
    </ion-col>

  </ion-row> -->

<!-- <ion-content > 
  <ion-list>
    <ion-item>{{users?.fullname}}</ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Edit Fullname" [(ngModel)]="Newname"></ion-input>
      <div class="item-FName" item-end>
        <ion-button (click)="editFName()"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      </div>
    </ion-item>
  </ion-list>
 </ion-content>   -->